$sky-from-color : rgba(41,184,229,1) 0%; 
$sky-to-color : rgba(179,220,237,1) 100%;
$sky-night-from-color: rgba(76,76,76,1) 0%;
$sky-night-to-color: rgba(19,19,19,1) 100%;
$cloud-color : rgb(255, 255, 255);
$cloud-from-color : rgba(246,246,246,0.94) 39%;
$cloud-to-color : rgba(246,246,246,1) 47%;
$tree-from-color : rgba(8, 204, 8, 1) 0%;
$tree-to-color : rgba(93, 240, 115, 1) 74%;
$trunk-from-color : rgba(169,3,41,1) 0%;
$trunk-to-color : rgba(109,0,25,1) 100%;